# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data files (large — don't push to GitHub)
data/
*.zip
*.csv

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

.conda